# Python
__pycache__/
*.py[cod]
*.log

# Virtual environments
venv/
.venv/

# Environment files
.env
.env.*

# Django
db.sqlite3
*.sqlite3
*.sqlite3-journal
media/
staticfiles/

# Frontend build artifacts
invoice_dashboard/invoice-frontend/node_modules/
invoice_dashboard/invoice-frontend/build/
